{% extends 'base.html.twig' %}

{% block title %}Редактирование курса/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1>Редактирование Курса. {{ course.title }}</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ include('course/_form.html.twig', {'button_label' : 'Изменить'}) }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    {{ include('course/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}