{% extends 'base.html.twig' %}

{% block title %}Создание курса/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1>Создание курса</h1>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    {{ include('course/_form.html.twig', {'button_label' : 'Создать'}) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}