{% extends 'base.html.twig' %}

{% block title %}Редактирование урока/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1>Редактирование уроков</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>Курс:
                        <a href="{{ path('course_show', { 'id': lesson.course.id }) }}">
                            {{ lesson.course.title }}
                        </a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ include('lesson/_form.html.twig', {'button_label' : 'Изменить'}) }}
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-lg-3 col-md-3 col-sm-6">
                    {{ include('lesson/_delete_form.html.twig') }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}