{% extends 'base.html.twig' %}

{% block title %}Создание урока/StudyOn{% endblock %}

{% block body %}
    <div class="row mb-5">
        <div class="col-12">

            <div class="row">
                <div class="col-12">
                    <h1>Создание урока</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p>Курс: <a href="{{ path('course_show', { 'id': course.id }) }}">{{ course.title }}</a></p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{ include('lesson/_form.html.twig', {'button_label' : 'Создать'}) }}
                </div>
            </div>

        </div>
    </div>
{% endblock %}